<div class="center padded white-bg">
    <div class="content padded">
        <div class="padded">
            <h1>No estas convencido? mira lo que he construido</h1>
        </div>
        <div class="row">
            <div class="card third">
                <h3>Mailer app</h1>
                <p>Esta es una aplicacion que usa la API de Sendgrid.</p>
                <a class="green" target="_blank" href="#">Link Aqui</a>
            </div>
            <div class="card third">
                <h3>Gestionar Clientes</h1>
                <p>Una apliicacion para gestionar mis clientes.</p>
                <a class="green" href="{{ url_for('static', filename='db') }}">Link Aqui</a>
            </div>
            <div class="card third">
                <h3>Gestionar Tareas</h1>
                <p>Una applicacion para gestionar mis tareas.</p>
                <a class="green" href="{{ url_for('static', filename='barr') }}">Link Aqui</a>
            </div>
        </div>
    </div>
</div>